@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Gloria+Hallelujah&family=Indie+Flower&family=ZCOOL+KuaiLe&display=swap");

footer {
  border-top: 10px groove #666666;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
}

#main-canvas {
  background-color: #f8f8f8;
}

#main-canvas textarea {
  color: #000000;
}

ul#the-wall {
  list-style-type: none;
}

ul#the-wall li {
  padding: 1em;
  background-color: #f58727;
  box-shadow: 0em 0em 0.3em #bb8800;
  border-radius: 2px;
  font-family: "Architects Daughter", cursive;
  font-size: 1.2em;
  color: #000000;
  transform: rotate(0.5deg);
}

ul#the-wall li:nth-of-type(2n) {
  transform: rotate(-1deg);
  margin-top: -1em;
  font-family: "Gloria Hallelujah", cursive;
}
ul#the-wall li:nth-of-type(3n) {
  transform: rotate(1deg);
  margin-top: -0.5em;
  font-family: "Indie Flower", cursive;
}
ul#the-wall li:nth-of-type(4n) {
  transform: rotate(-0.5deg);
  margin-top: -2em;
  font-family: "Gloria Hallelujah", cursive;
}
ul#the-wall li:nth-of-type(5n) {
  transform: rotate(1.5deg);
  margin-top: 0.5em;
  font-family: "Indie Flower", cursive;
}
ul#the-wall li:nth-of-type(6n) {
  transform: rotate(0deg);
  margin-top: -0.3em;
  font-family: "ZCOOL KuaiLe", cursive;
}

.vip {
  font-weight: 900;
  font-size: 1.1em;
}

.plain-txt > h3 {
  background-color: gold;
  color: black;
}
